name: Build and Push Docker Image to Docker Hub

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build Docker image
      run: docker build -t shaiksahil123/pipeline:latest .

    - name: Push Docker image
      run: docker push shaiksahil123/pipeline:latest

    - name: Notify AWS Lambda
      run: |
        curl -X GET "https://zkaordy2p6.execute-api.us-west-1.amazonaws.com/docker-push-notify"
